# ======================
# .NET
# ======================
bin/
obj/
*.user
*.suo
*.cache
*.log

# ======================
# Environment
# ======================
.env
.env.*
appsettings.Development.json

# ======================
# IDEs
# ======================
.vs/
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Migrations / Temp
# ======================
*.db
*.sqlite
